<a href="https://colab.research.google.com/github/FariusGitHub/DataScience/blob/master/pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import FunctionTransformer
from sklearn.pipeline import Pipeline
import joblib

data=pd.read_csv('https://weclouddata.s3.amazonaws.com/'
     'datasets/bootcamp/final_ml_challenge_fraud/sample.csv',sep=',')

def f(X):

    return pd.concat([#TRANSFORMING x5 feature
                   X[['x5']].fillna('0.0%').apply(lambda x:\
                   (x.str.strip('%').astype(float)*100).astype(int)),
        
                   #TRANSFORMING x6 feature
                   X[['x6']].apply(lambda x: x.map({'Monday': 1,'Tuesday':\
                   2,'Wednesday': 3,'Thurday': 4,'Friday': 5,np.nan: 0})),
        
                   #TRANSFORMING x20 feature
                   X[['x20']].apply(lambda x: x.map({'Jan': 1,'Feb': 2,'Mar':\
                   3,'Apr': 4,'May': 5, np.nan: 0,'Jun': 6,'Jul': 7,'Aug':\
                   8,'Sept': 9,'Oct': 10,'Nov': 11,'Dec': 12})),
        
                   #TRANSFORMING x27 feature                   
                   X[['x27']].apply(lambda x: x.map({'Morning':1, 'Afternoon':\
                   2, 'Evening':3, 'Night':4, np.nan:0})),

                   #TRANSFORMING x49 feature                   
                   X[['x49']].apply(lambda x: x.map({True: 1,False: -1,np.nan: 0})),
    
                   #TRANSFORMING x57 feature
                   X[['x57']].fillna('$0.0').apply(lambda x:x.str.strip('$').astype(float)),
        
                   #COMBINING WITH 94 other features
                   X.drop(['x5','x6','x20','x27','x49','x57'], axis=1).fillna(0)
        
            ], axis=1)
    

pipe1 = Pipeline([('testing', FunctionTransformer(f))])
joblib.dump(pipe1, "pipe.joblib")
pipe2 = joblib.load("pipe.joblib")
pipe2.fit_transform(data)

,x5,x6,x20,x27,x49,x57,x0,x1,x2,x3,...,x91,x92,x93,x94,x95,x96,x97,x98,x99,y
0,3,2,8,2,-1,1578.34,-0.247824,6.425853,-6.485658,-8.241462,...,0.592543,14.967527,6.691044,-0.275572,2.518542,4.637431,-14.296510,1.898115,-1.225228,0
1,2,3,7,2,-1,767.76,2.623274,-2.808263,5.321746,-2.437653,...,-1.712788,-3.638637,-2.256492,2.703101,1.760729,2.660614,1.182922,-3.203078,0.711018,0
2,0,2,8,3,-1,931.06,-5.460551,5.997701,-4.614194,-6.035128,...,2.206956,7.292558,10.095556,1.601155,1.710645,-12.519434,-5.261707,2.032666,-6.445528,0
3,0,4,8,2,1,2124.52,1.566307,-0.080517,0.064754,6.063193,...,-3.841669,5.189840,10.291069,-3.642396,0.674300,-1.104317,-3.922342,-0.613947,7.275179,0
4,0,3,7,3,-1,-3055.67,0.750715,15.656095,-6.778600,11.251037,...,8.933781,-7.295794,-11.246059,-4.876594,3.395415,-2.646844,-5.273267,-5.259536,-3.240523,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,1,2,6,2,-1,-1664.04,-2.664967,-3.427965,-5.143886,0.289251,...,2.123462,6.139848,-4.323045,-6.453976,6.345870,6.482477,-11.562510,4.216840,5.689256,0
7996,0,2,5,2,-1,-42.81,2.174302,-4.912113,-4.803975,-22.081911,...,-12.307131,-4.762671,10.574798,-3.954958,0.998331,9.001036,1.171144,-1.001999,9.383899,0
7997,-1,3,8,2,1,220.59,2.247079,-3.377818,-1.567924,-7.445187,...,-8.084817,8.031024,7.282587,2.439789,1.666460,0.566402,3.591239,2.962485,0.980093,0
7998,0,2,8,3,1,467.47,-1.402385,-20.117766,3.705099,11.634801,...,4.920424,-0.954106,6.261179,0.628781,-0.109908,2.086040,12.889705,7.359320,0.124861,0
7999,-2,2,6,2,-1,-598.35,-5.761582,8.638806,8.391700,-6.474205,...,-4.721215,5.300117,-13.373868,1.450768,1.498209,6.701758,-2.233975,12.776734,0.565346,0